* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #fcfcfc;

  --confirm-green: #38bc8a;

  --light-gray: #ebeaea;
  --dark-gray: #c4c4c4;

  --text-blue: #2fa1d7;
  --text-input-placeholder: 7a7a7a;

  --white: #ffffff;
  --black: #000000;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; //15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; //14px
  }
}

body,
input,
textarea,
button {
  font: 500 1rem Roboto, sans-serif;
  color: var(--gray-500);
  background: var(--gray-50);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Poppins, sans-serif;
  color: var(--gray-800);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  border: 0;
  cursor: pointer;
}
