.container {
  width: 100vw;
  height: 88vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--background-color);
}

.container > main {
  display: flex;
  flex-direction: column;

  height: 70%;
  width: 50%;
  min-width: 450px;
  margin: auto 0; //alinha ao centro verticalmente

  align-items: center;
  justify-content: space-evenly;
}

.googleButton {
  background-color: #3578e7;
  display: flex;

  align-items: center;

  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: 0.25s;

  span {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0 1rem;
  }

  & > div {
    background-color: white;
    padding: 0.5rem 1rem;

    border-radius: 12px 0 0 12px;
  }

  &:hover {
    filter: brightness(0.9);
  }
}

.divisor {
  width: 90%;
  display: flex;

  color: black;
  font-weight: 600;
  font-size: 1.25rem;

  align-items: center;
  justify-content: space-evenly;

  div {
    padding: 0 1.5rem;
    flex: 1;

    hr {
      height: 2px;
      background-color: black;
      border: none;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  width: 90%;
  height: 50%;

  align-items: center;
  justify-content: space-evenly;

  input {
    outline: none;
    background-color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 12px;

    width: 90%;
  }
}
