.test {
  padding: 2rem 0;
  position: relative;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 25px;
  background-color: var(--light-gray);
}

.controlButton {
  display: flex;

  justify-content: space-between;

  padding: 1rem 0;
  max-width: 80%;
  margin: 0 auto;

  button {
    padding: 0.5rem 1rem;
    border-radius: 5px;

    font-weight: 600;

    transition: 0.25s;

    &:not(:disabled):hover {
      filter: brightness(0.9);
    }

    &:nth-child(2) {
      background-color: var(--confirm-green);
    }

    &:nth-child(1) {
      background-color: var(--dark-gray);
    }
  }
}
